force-app/main/default/flows/Behaviour_Check_Warning.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_for_Completeness</name>
        <label>Check for Completeness</label>
        <locationX>396</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>LoopThroughBoCRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >LoopThroughBoCRecords.Occurrences__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetBoCIncompletetoTrue</targetReference>
            </connector>
            <label>Null Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel
  >Behaviour Check Warning {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Behaviour Check Warning</label>
    <loops>
        <name>LoopThroughBoCRecords</name>
        <label>LoopThroughBoCRecords</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>GetSessionBoCRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Completeness</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetSessionBoCRecords</name>
        <label>GetSessionBoCRecords</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughBoCRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Session_BOC__c</object>
        <sortField>Occurrences__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SetBoCIncompleteFalse</name>
        <label>SetBoCIncompleteFalse</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>GetSessionBoCRecords</targetReference>
        </connector>
        <inputAssignments>
            <field>BoC_Incomplete__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetBoCIncompletetoTrue</name>
        <label>SetBoCIncompletetoTrue</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>LoopThroughBoCRecords</targetReference>
        </connector>
        <inputAssignments>
            <field>BoC_Incomplete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetBoCIncompleteFalse</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria
    >true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Session__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
