force-app/main/default/flows/Compute_Session_Statistics.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Compute_Session_Stats</name>
        <label>Compute Session Stats</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>LFLInvocableSessionStatistics</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Stats_Summary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sessions</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Mastery_Update</name>
        <label>Mastery Update</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <actionName>LFLInvocableMasteryStatistics</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sessions</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <interviewLabel>Compute Session Statistics {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compute Session Statistics</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Stats_Summary</name>
        <label>Update Stats Summary</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Mastery_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>Statistics_Summary__c</field>
            <value>
                <elementReference>Compute_Session_Stats.outputString</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Compute_Session_Stats</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Session__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
