force-app/main/default/flows/L4L_Incident_Reporting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <dynamicChoiceSets>
        <name>FirstAid</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>First_Aid__c</picklistField>
        <picklistObject>Incident__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ILocation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Incident_Location__c</picklistField>
        <picklistObject>Incident__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Incident_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Incident_Type__c</picklistField>
        <picklistObject>Incident__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IncidentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Incident_Type__c</picklistField>
        <picklistObject>Incident__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Injury</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Injury_Occurred__c</picklistField>
        <picklistObject>Incident__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Notification</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Notification__c</picklistField>
        <picklistObject>Incident__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>L4L Incident Reporting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>L4L Incident Reporting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Incident</name>
        <label>Create Incident</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>varIncidentId</assignRecordIdToReference>
        <connector>
            <targetReference>GetIncident</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Involved__c</field>
            <value>
                <elementReference>Client</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clinical_Consultant_Involved__c</field>
            <value>
                <elementReference>Clinical_Consultant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Incident_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Aid__c</field>
            <value>
                <elementReference>First_Aid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Date_Time__c</field>
            <value>
                <elementReference>Incident_Date_and_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Location__c</field>
            <value>
                <elementReference>Incident_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Type__c</field>
            <value>
                <elementReference>Incident_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Injury_Description__c</field>
            <value>
                <elementReference>Brief_Injury_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Injury_Occurred__c</field>
            <value>
                <elementReference>Did_an_Injury_Occur</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Involved_Names__c</field>
            <value>
                <elementReference>Names_of_people_involved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notification__c</field>
            <value>
                <elementReference>Notification1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Involved__c</field>
            <value>
                <elementReference>Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reported_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Reported</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Therapy_Assistant_Involved__c</field>
            <value>
                <elementReference>Therapy_Assistant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Witness_Name__c</field>
            <value>
                <elementReference>Witness</elementReference>
            </value>
        </inputAssignments>
        <object>Incident__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetIncident</name>
        <label>GetIncident</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIncidentId</elementReference>
            </value>
        </filters>
        <object>Incident__c</object>
        <outputAssignments>
            <assignToReference>varIncidentNumber</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Incident_Details</name>
        <label>Incident Details</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Incident</targetReference>
        </connector>
        <fields>
            <name>Incident_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Did_an_Injury_Occur</name>
                    <choiceReferences>Injury</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Did an Injury Occur?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Brief_Injury_Description</name>
                    <fieldText>Brief Injury Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Did_an_Injury_Occur</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>First_Aid</name>
                    <choiceReferences>FirstAid</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Was First Aid Provided?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Witness</name>
                    <dataType>String</dataType>
                    <fieldText>Witness (If any)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Notification1</name>
                    <choiceReferences>Notification</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>If the incident involved the child, was the parent or guardian be notified?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Incident_Reporting</name>
        <label>Incident Reporting</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Involved</targetReference>
        </connector>
        <fields>
            <name>Incident_Reporting_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Reporting_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Incident_Location</name>
                    <choiceReferences>ILocation</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Incident Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Reporting_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Incident_Date_and_Time</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Incident Date and Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Involved</name>
        <label>Involved</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Incident_Details</targetReference>
        </connector>
        <fields>
            <name>Involved_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Involved_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Incident_Type1</name>
                    <choiceReferences>Incident_Type</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Incident Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Incident_Description</name>
                    <fieldText>Please provide a description of the incident/ hazard (include client initial if involved)</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Involved_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>QInvolved</name>
                    <fieldText>&lt;p&gt;Who was involved in the incident?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Therapy_Assistant</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Therapy Assistant</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Clinical_Consultant</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Clinical Consultant</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Client</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Client</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Other</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Other_Details</name>
                    <dataType>String</dataType>
                    <fieldText>Other Details</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Other</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Names_of_people_involved</name>
            <fieldText>Names of people involved</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thankyou</name>
            <fieldText>&lt;p&gt;Thank you.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The incident has been recorded.&lt;/p&gt;&lt;p&gt;Reference. &lt;strong&gt;{!varIncidentNumber}&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Incident_Reporting</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varIncidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIncidentNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Yes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </variables>
</Flow>
