force-app/main/default/flows/L4LAddClientObjfromSDMap.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ListUnusedObj</name>
        <label>ListUnusedObj</label>
        <locationX>270</locationX>
        <locationY>398</locationY>
        <actionName>L4LInvocableListUnusedObj</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Return_10_Results</targetReference>
        </connector>
        <inputParameters>
            <name>getClientObj</name>
            <value>
                <elementReference>getClientObj</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>getSDObj</name>
            <value>
                <elementReference>getSDObj</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Selected_Values</name>
        <label>Assign Selected Values</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>selectedIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Choose_Objective</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Convert_to_collection</name>
        <label>Convert to collection</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>RecordIDCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FirstID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveFirstID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_complete</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Reduce the size of the collection to display to 10- so it doesn&apos;t overwhelm the modal flow display</description>
        <name>Return_10_Results</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Return 10 Results</label>
        <locationX>270</locationX>
        <locationY>518</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>ListUnusedObj</collectionReference>
        <connector>
            <targetReference>Display_Choices</targetReference>
        </connector>
        <limit>10</limit>
        <sortOptions>
            <sortField>Name</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Check_for_Choice</name>
        <label>Check for Choice</label>
        <locationX>270</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Choice_made</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedIds</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_to_collection</targetReference>
            </connector>
            <label>Choice made</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_complete</name>
        <label>Check if complete</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedIds</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Convert_to_collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow called from Stages&gt;Areas Component on Client - that enables Users to add Objectives from a specific SD to a Clients Objectives</description>
    <dynamicChoiceSets>
        <name>ClientObJRecords</name>
        <dataType>String</dataType>
        <displayField>Objective_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>clientId</elementReference>
            </value>
        </filters>
        <object>Client_Objective__c</object>
        <valueField>Objective__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FilteredChoice</name>
        <collectionReference>ListUnusedObj</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Objective__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ObjectivesOptionstoAdd</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SD__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SDId</elementReference>
            </value>
        </filters>
        <object>Objective__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ConvertSeperators</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!selectedIds}, &quot;;&quot;, &quot;,&quot;)</expression>
    </formulas>
    <formulas>
        <description>LEFT({!selectedIds}, FIND(“;”,{!selectedIds})-1)
LEFT({!varMyString},FIND(&quot;;&quot;,{!varMyString})-1))</description>
        <name>FirstID</name>
        <dataType>String</dataType>
        <expression>
LEFT({!selectedIds},FIND(&quot;;&quot;,{!selectedIds}) -1)</expression>
    </formulas>
    <formulas>
        <description>TRIM(LEFT({!selectedIds},FIND(&apos;;&apos;, {!selectedIds}, -1 )))
TRIM(SUBSTITUTE({!selectedIds},{!FirstID}+&apos;;&apos;,&apos;&apos;))</description>
        <name>RemoveFirstID</name>
        <dataType>String</dataType>
        <expression>TRIM((RIGHT({!selectedIds},LEN({!selectedIds})-FIND(&quot;;&quot;,{!selectedIds}))))</expression>
    </formulas>
    <interviewLabel>L4LAddClientObjfromSDMap {!$Flow.CurrentDateTime}</interviewLabel>
    <label>L4LAddClientObjfromSDMap</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>226</locationX>
        <locationY>1238</locationY>
        <collectionReference>RecordIDCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Client_Obj_Records</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Client_Obj_Records</name>
        <label>Create Client Obj Records</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>clientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Objective__c</field>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </inputAssignments>
        <object>Client_Objective__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getClientObj</name>
        <label>getClientObj</label>
        <locationX>270</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSDObj</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>clientId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Client_Objective__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Objective__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSDObj</name>
        <label>getSDObj</label>
        <locationX>270</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ListUnusedObj</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SD__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SDId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Objective__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Choices</name>
        <label>Display Choices</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Selected_Values</targetReference>
        </connector>
        <fields>
            <name>Choose_Objective</name>
            <choiceReferences>FilteredChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Objectives to add to Client</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getClientObj</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>clientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0018t000002vfSfAAI</stringValue>
        </value>
    </variables>
    <variables>
        <name>createdClientObjId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>readytocreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Objective__c</objectType>
    </variables>
    <variables>
        <name>RecordIDCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SDId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a0A8t0000003HooEAE</stringValue>
        </value>
    </variables>
    <variables>
        <name>selectedIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
