force-app/main/default/flows/L4LAutoUpdateCOtoCAB.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Count</name>
        <label>Count</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ExistingCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewRecordCount</name>
        <label>NewRecordCount</label>
        <locationX>490</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NewCOCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddClientOBjRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Continue</name>
        <label>Continue</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continuing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getExistingClientObjs</targetReference>
            </connector>
            <label>Continuing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing</name>
        <label>Existing</label>
        <locationX>226</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>getObjectives</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExistingPositive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_count</targetReference>
            </connector>
            <label>ExistingPositive</label>
        </rules>
    </decisions>
    <description
  >Flow called by StagesV2 Component to add and update ALL Client Objectives for a specific SD to status CAB. All new CO&apos;s are marked Inactive.</description>
    <interviewLabel
  >L4LAutoUpdateCOtoCAB {!$Flow.CurrentDateTime}</interviewLabel>
    <label>L4LAutoUpdateCOtoCAB</label>
    <loops>
        <name>AddClientObjLoop</name>
        <label>AddClientObjLoop</label>
        <locationX>402</locationX>
        <locationY>1094</locationY>
        <collectionReference>getObjectives</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>NewRecordCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Success</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Count_Existing</name>
        <label>Count Existing</label>
        <locationX>226</locationX>
        <locationY>518</locationY>
        <collectionReference>getExistingClientObjs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Existing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>AddClientOBjRecords</name>
        <label>AddClientOBjRecords</label>
        <locationX>490</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>AddClientObjLoop</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>clientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Objective__c</field>
            <value>
                <elementReference>AddClientObjLoop.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>CAB</stringValue>
            </value>
        </inputAssignments>
        <object>Client_Objective__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getExistingClientObjs</name>
        <label>getExistingClientObjs</label>
        <locationX>226</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SDId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SDId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>clientId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Client_Objective__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getObjectives</name>
        <label>getObjectives</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddClientObjLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SD__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SDId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Objective__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Show_count</name>
        <label>Show count</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowCount</name>
            <fieldText
      >&lt;p&gt;&lt;strong style=&quot;color: rgb(215, 13, 13); font-size: 14px;&quot;&gt;ERROR&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;There are {!ExistingCount} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;existing Client Objectives for this SD. This process will only work where the SD has no existing Objectives assigned to the client. Press Finish to return with no action.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>402</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessCount</name>
            <fieldText
      >&lt;p&gt;&lt;strong style=&quot;color: rgb(5, 121, 17); font-size: 14px;&quot;&gt;Success&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Created  {!NewCOCount} new  Client Objective Records with Status CAB. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;All the new records are marked Inactive.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>What this flow does</description>
        <name>Warning</name>
        <label>Warning</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Continue</targetReference>
        </connector>
        <fields>
            <name>WarningText</name>
            <fieldText
      >&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(218, 10, 10);&quot;&gt;WARNING&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;This process will add ALL the Objectives in the selected SD to this clients plan, mark  all the Client-Objectives Correct at Baseline (CAB) and mark them Inactive.&lt;/p&gt;&lt;p&gt;Check Confirm or leave unchecked to Cancel then press Next&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm</name>
            <dataType>Boolean</dataType>
            <fieldText>Confirm</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Warning</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>clientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0018t000002vfSfAAI</stringValue>
        </value>
    </variables>
    <variables>
        <name>ExistingCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NewCOCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SDId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a0A8t0000003HpKEAU</stringValue>
        </value>
    </variables>
</Flow>
