force-app/main/default/flows/NDIS_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AssignClientObj</name>
        <label>AssignClientObj</label>
        <locationX>1064</locationX>
        <locationY>1262</locationY>
        <assignmentItems>
            <assignToReference>vProgramName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >LoopClientObj.Program_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNumberofPrograms</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProgramNameDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue
        >{!LoopClientObj.Program_Name__c} &lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProgramNameCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >LoopClientObj.Program_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetSingleProgramData</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountStatusACQ</name>
        <label>CountStatusACQ</label>
        <locationX>1578</locationX>
        <locationY>1616</locationY>
        <assignmentItems>
            <assignToReference>vStatusACQ</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CountObjectives</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountStatusOBJ</name>
        <label>CountStatusOBJ</label>
        <locationX>1234</locationX>
        <locationY>1628</locationY>
        <assignmentItems>
            <assignToReference>vStatusOBJ</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CountObjectives</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetCounts</name>
        <label>ResetCounts</label>
        <locationX>752</locationX>
        <locationY>1614</locationY>
        <assignmentItems>
            <assignToReference>vStatusACQ</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vStatusOBJ</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopClientObj</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WriteSessionDetails</name>
        <label>WriteSessionDetails</label>
        <locationX>624</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>vSessionName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue
        >{!ReadSessionRecords.Name} -  {!ReadSessionRecords.Date__c} -   {!ReadSessionRecords.Therapist_Name__c} &lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNumSessions</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReadSessionRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Duplicates</name>
        <label>Check for Duplicates</label>
        <locationX>844</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>AssignClientObj</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Program_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >LoopClientObj.Program_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vProgramName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopClientObj</targetReference>
            </connector>
            <label>Duplicate Program Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_Status_Check</name>
        <label>Duplicate Status Check</label>
        <locationX>1467</locationX>
        <locationY>1455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_OBJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >CountObjectives.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OBJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CountStatusOBJ</targetReference>
            </connector>
            <label>Status OBJ</label>
        </rules>
        <rules>
            <name>Status_ACQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >CountObjectives.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CountStatusACQ</targetReference>
            </connector>
            <label>Status ACQ</label>
        </rules>
    </decisions>
    <description>Automated  Report Creation for Meetings and NDIS</description>
    <interviewLabel>NDIS Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LFL Report Wizard</label>
    <loops>
        <name>CountObjectives</name>
        <label>CountObjectives</label>
        <locationX>1049</locationX>
        <locationY>1538</locationY>
        <collectionReference>GetSingleProgramData</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Duplicate_Status_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ObjectivesStatusScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through to analyse Client Obj</description>
        <name>LoopClientObj</name>
        <label>LoopClientObj</label>
        <locationX>536</locationX>
        <locationY>1022</locationY>
        <collectionReference>GetClientObj</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Duplicates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Session_Summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ReadSessionRecords</name>
        <label>ReadSessionRecords</label>
        <locationX>536</locationX>
        <locationY>566</locationY>
        <collectionReference>GetSessionDetails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>WriteSessionDetails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetClientObj</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCustomReportWizardObject</name>
        <label>CreateCustomReportWizardObject</label>
        <locationX>536</locationX>
        <locationY>2366</locationY>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NDIS_Report__c</field>
            <value>
                <elementReference>SessionSummaryDisplay</elementReference>
            </value>
        </inputAssignments>
        <object>NDIS_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetAccountDetails</name>
        <label>GetAccountDetails</label>
        <locationX>536</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetClientObj</name>
        <label>GetClientObj</label>
        <locationX>536</locationX>
        <locationY>902</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopClientObj</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Client_Objective__c</object>
        <sortField>Program_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSessionDetails</name>
        <label>GetSessionDetails</label>
        <locationX>536</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ReadSessionRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Start_Date_for_Data_Summary</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>End_Date_for_Data_Summary</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Session__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSingleProgramData</name>
        <label>GetSingleProgramData</label>
        <locationX>1064</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountObjectives</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Start_Date_for_Data_Summary</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>End_Date_for_Data_Summary</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vProgramName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Client_Objective__c</object>
        <sortField>Status__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ObjectivesStatusScreen</name>
        <label>ObjectivesStatusScreen</label>
        <locationX>908</locationX>
        <locationY>1757</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ResetCounts</targetReference>
        </connector>
        <fields>
            <name>statuscountscreen</name>
            <fieldText
      >&lt;p&gt;Acquired Status {!Status_ACQ}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Objective Status {!Status_OBJ}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Session_Summary</name>
        <label>Session Summary</label>
        <locationX>536</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateCustomReportWizardObject</targetReference>
        </connector>
        <fields>
            <name>SessionSummaryDisplay</name>
            <fieldText
      >&lt;p&gt;{!vNumberObj}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Between {!Start_Date_for_Data_Summary} --- {!End_Date_for_Data_Summary}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!GetAccountDetails.Name} has completed {!vNumSessions} sessions&lt;/p&gt;&lt;p&gt;{!vSessionName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;There are &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!vNumberofPrograms} &lt;/span&gt;Current Programs:&lt;/p&gt;&lt;p&gt;{!vProgramNameDisplay}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>536</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetSessionDetails</targetReference>
        </connector>
        <fields>
            <name>LFLLogo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>LFLLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>learning for life logo</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Client_Details</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!GetAccountDetails.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Date_for_Data_Summary</name>
            <dataType>Date</dataType>
            <fieldText>Start Date for Data Summary</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_Date_for_Data_Summary</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>End Date for Data Summary</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetAccountDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNumberObj</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vNumberofPrograms</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vNumSessions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vProgramName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProgramNameCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProgramNameDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSessionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vStatusACQ</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vStatusOBJ</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
