force-app/main/default/flows/Report_Session_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>L4L_Invocable_Report_Wizard</name>
        <label>L4L Invocable Report Wizard</label>
        <locationX>176</locationX>
        <locationY>1310</locationY>
        <actionName>L4LInvocableReportWizard</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Session_Summary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>clientId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endtime</name>
            <value>
                <elementReference>End_Date_for_Data_Summary</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>starttime</name>
            <value>
                <elementReference>Start_Date_for_Data_Summary</elementReference>
            </value>
        </inputParameters>
        <nameSegment>L4LInvocableReportWizard</nameSegment>
        <outputParameters>
            <assignToReference>vProgramObjCount</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Write_Incidental_Details</name>
        <label>Write Incidental Details</label>
        <locationX>440</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>vSessionName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue
        >Incident Type - {!Loop_through_Incidental_Data.Incident_Type__c} - Intensity {!Loop_through_Incidental_Data.Intensity__c} - {!Loop_through_Incidental_Data.Duration_Hrs__c} Hours - {!Loop_through_Incidental_Data.Duration_Mins__c} min - {!Loop_through_Incidental_Data.Duration_Secs__c} sec &lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Incidental_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WriteSessionDetails</name>
        <label>WriteSessionDetails</label>
        <locationX>352</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>vSessionName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue
        >&lt;br/&gt;&lt;b&gt;{!ReadSessionRecords.Name}&lt;/b&gt; -  {!ReadSessionRecords.Date__c} -   {!ReadSessionRecords.Therapist_Name__c} -  {!ReadSessionRecords.Session_Length__c} hours &lt;br/&gt; {!ReadSessionRecords.Anecdotal_Notes__c}- &lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNumSessions</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSessionTotalHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >ReadSessionRecords.Session_Length__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Incidental_Data_Records</targetReference>
        </connector>
    </assignments>
    <description>Summarises Client Session Data</description>
    <interviewLabel
  >Report Session Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>L4L Report Wizard</label>
    <loops>
        <description>Write all the Incidental data for a session</description>
        <name>Loop_through_Incidental_Data</name>
        <label>Loop through Incidental Data</label>
        <locationX>352</locationX>
        <locationY>878</locationY>
        <collectionReference>Get_Incidental_Data_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Write_Incidental_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ReadSessionRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ReadSessionRecords</name>
        <label>ReadSessionRecords</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>GetSessionDetails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>WriteSessionDetails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>L4L_Invocable_Report_Wizard</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCustomReportWizardObject</name>
        <label>CreateCustomReportWizardObject</label>
        <locationX>176</locationX>
        <locationY>1550</locationY>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NDIS_Report__c</field>
            <value>
                <elementReference>SessionSummaryDisplay</elementReference>
            </value>
        </inputAssignments>
        <object>NDIS_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Incidental_Data_Records</name>
        <label>Get Incidental Data Records</label>
        <locationX>352</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Incidental_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Session__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReadSessionRecords.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Incidental_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccountDetails</name>
        <label>GetAccountDetails</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSessionDetails</name>
        <label>GetSessionDetails</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ReadSessionRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Start_Date_for_Data_Summary</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>End_Date_for_Data_Summary</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Session__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Session_Summary</name>
        <label>Session Summary</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateCustomReportWizardObject</targetReference>
        </connector>
        <fields>
            <name>SessionSummaryDisplay</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://lfldemo--c.documentforce.com/sfc/servlet.shepherd/version/download/0682v00000IZMeY?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Client Summary&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Between &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Start_Date_for_Data_Summary}&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; --- &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!End_Date_for_Data_Summary}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!GetAccountDetails.Name} has completed &lt;b&gt;{!vNumSessions} &lt;/b&gt;sessions in a total of {!vSessionTotalHours} hours&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!vSessionName}&lt;/p&gt;&lt;p&gt;---------------------------------------------------------------&lt;/p&gt;&lt;p&gt;{!vProgramObjCount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetSessionDetails</targetReference>
        </connector>
        <fields>
            <name>LFLLogo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>LFLLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>learning for life logo</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Display_Client_Details</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!GetAccountDetails.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Date_for_Data_Summary</name>
            <dataType>Date</dataType>
            <fieldText>Start Date for Data Summary</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_Date_for_Data_Summary</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>End Date for Data Summary</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAccountDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description
    >Variable storing all the incidental data for a session</description>
        <name>vIncidentalData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNumberObj</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vNumberofPrograms</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vNumSessions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vProgramName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProgramNameCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProgramNameDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProgramObjCount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSessionCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSessionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSessionnotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSessionTotalHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
</Flow>
