force-app/main/default/flows/Update_Client_Objective_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <constants>
        <name>HELD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>HLD</stringValue>
        </value>
    </constants>
    <constants>
        <name>Previous1IP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1IP</stringValue>
        </value>
    </constants>
    <constants>
        <name>PreviousICP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1CP</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Choose the status update based on previous status</description>
        <name>Decide_Status</name>
        <label>Decide Status</label>
        <locationX>536</locationX>
        <locationY>541</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_to_1CP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Previous_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Correct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Client_Obj_to_1CP</targetReference>
            </connector>
            <label>Update to 1CP</label>
        </rules>
        <rules>
            <name>Update_to_CIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Previous_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PreviousICP</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Correct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Client_Obj_to_CIP</targetReference>
            </connector>
            <label>Update to CIP</label>
        </rules>
        <rules>
            <name>Update_to_OBJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Previous_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Previous1IP</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incorrect__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Client_Obj_to_OBJ</targetReference>
            </connector>
            <label>Update to OBJ</label>
        </rules>
        <rules>
            <name>Update_to_1IP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Previous_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incorrect__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Client_Obj_to_1IP</targetReference>
            </connector>
            <label>Update to 1IP</label>
        </rules>
    </decisions>
    <description>Updates new Client Objectives Status to either 1CP , 1IP, CIP or OBJ</description>
    <interviewLabel>Update Client-Objective Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LFL Update Client-Objective Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Client_Details</name>
        <label>Get Client Details</label>
        <locationX>544</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Session__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Client_Obj_to_1CP</name>
        <label>Update Client Obj to 1CP</label>
        <locationX>64</locationX>
        <locationY>595</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client_Details.Client__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Objective__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Objective__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>1CP</stringValue>
            </value>
        </inputAssignments>
        <object>Client_Objective__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Client_Obj_to_1IP</name>
        <label>Update Client Obj to 1IP</label>
        <locationX>800</locationX>
        <locationY>661</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client_Details.Client__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Objective__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Objective__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>1IP</stringValue>
            </value>
        </inputAssignments>
        <object>Client_Objective__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Client_Obj_to_CIP</name>
        <label>Update Client Obj to CIP</label>
        <locationX>272</locationX>
        <locationY>661</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client_Details.Client__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Objective__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Objective__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>CIP</stringValue>
            </value>
        </inputAssignments>
        <object>Client_Objective__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Client_Obj_to_OBJ</name>
        <label>Update Client Obj to OBJ</label>
        <locationX>536</locationX>
        <locationY>661</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client_Details.Client__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Objective__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Objective__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>OBJ</stringValue>
            </value>
        </inputAssignments>
        <object>Client_Objective__c</object>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Client_Details</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>false</doesRequireRecordChangedToMeetCriteria>
        <object>Session_Obj__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Previous_1CP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>1CP</stringValue>
        </value>
    </variables>
</Flow>
