force-app/main/default/flows/Update_Client_Objective_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <constants>
        <name>HELD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>HLD</stringValue>
        </value>
    </constants>
    <constants>
        <name>Previous1IP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1IP</stringValue>
        </value>
    </constants>
    <constants>
        <name>PreviousICP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1CP</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Choose the status update based on previous status. DNC = Did not Confirm</description>
        <name>Decide_Status</name>
        <label>Decide Status</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_to_1CP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Correct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Session_Obj.Previous_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Session_Obj.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Client_Obj_to_1CP</targetReference>
            </connector>
            <label>Update to 1CP</label>
        </rules>
        <rules>
            <name>Update_to_CIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Session_Obj.Previous_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1CP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Correct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Session_Obj.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Client_Obj_to_CIP</targetReference>
            </connector>
            <label>Update to CIP</label>
        </rules>
        <rules>
            <name>Update_to_1IP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Session_Obj.Previous_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incorrect__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Session_Obj.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Client_Obj_to_1IP</targetReference>
            </connector>
            <label>Update to 1IP</label>
        </rules>
        <rules>
            <name>Update_to_DNC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Session_Obj.Previous_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1CP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incorrect__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Session_Obj.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Client_Obj_to_DNC</targetReference>
            </connector>
            <label>Update to DNC</label>
        </rules>
    </decisions>
    <description>Updates new Client Objectives Status to either 1CP , 1IP, CIP or OBJ</description>
    <interviewLabel>Update Client-Objective Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>L4L Update Client-Objective Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Session_Details</name>
        <label>Get Session Details</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Session_Obj</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Session__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting the first record of the Session for the current Objective-</description>
        <name>Get_Session_Obj</name>
        <label>Get Session-Obj</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Session__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Session__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Objective__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Objective__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NonResponsive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Prompted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Session_Obj__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Client_Obj_First_to_DNC</name>
        <label>Update Client-Obj First to DNC</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Session_Obj.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Previous_Status__c</field>
            <value>
                <stringValue>DNC</stringValue>
            </value>
        </inputAssignments>
        <object>Session_Obj__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Client_Obj_to_1CP</name>
        <label>Update Client Obj to 1CP</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_SessionObj_First_Record_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Session_Details.Client__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Objective__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Objective__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>1CP</stringValue>
            </value>
        </inputAssignments>
        <object>Client_Objective__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Client_Obj_to_1IP</name>
        <label>Update Client Obj to 1IP</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_SessionObj_First_Record_Status_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Session_Details.Client__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Objective__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Objective__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>1IP</stringValue>
            </value>
        </inputAssignments>
        <object>Client_Objective__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Client_Obj_to_CIP</name>
        <label>Update Client Obj to CIP</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_SessionObj_First_Record_Status_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Session_Details.Client__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Objective__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Objective__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>CIP</stringValue>
            </value>
        </inputAssignments>
        <object>Client_Objective__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Client_Obj_to_DNC</name>
        <label>Update Client Obj to DNC</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_Client_Obj_First_to_DNC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Session_Details.Client__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Objective__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Objective__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>DNC</stringValue>
            </value>
        </inputAssignments>
        <object>Client_Objective__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SessionObj_First_Record_Status</name>
        <label>Update SessionObj First Record Status</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Session_Obj.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Previous_Status__c</field>
            <value>
                <stringValue>BLANK</stringValue>
            </value>
        </inputAssignments>
        <object>Session_Obj__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SessionObj_First_Record_Status_0</name>
        <label>Update SessionObj First Record Status</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Session_Obj.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Previous_Status__c</field>
            <value>
                <stringValue>BLANK</stringValue>
            </value>
        </inputAssignments>
        <object>Session_Obj__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SessionObj_First_Record_Status_0_0</name>
        <label>Update SessionObj First Record Status</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Session_Obj.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Previous_Status__c</field>
            <value>
                <stringValue>CIP</stringValue>
            </value>
        </inputAssignments>
        <object>Session_Obj__c</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Session_Details</targetReference>
        </connector>
        <object>Session_Obj__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Previous_1CP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>1CP</stringValue>
        </value>
    </variables>
</Flow>
